version: '3.8'

services:

  db:
  
    image: mysql:8.0

    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWD}
      MYSQL_DATABASE: ${DB}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_USER_PASSWD}

    volumes:
      - mysql_data:/var/lib/mysql

    ports:
    - "3307:3306"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"

volumes:
  mysql_data:
